ul{
  padding: 0
}

.app{
  min-height: 500px;
  overflow: scroll;
}

.article-list-area{
  height: 100%;
  width: 200px;
  border-left: 1px solid #EEE;
  border-right: 1px solid #EEE;
  float: left;
}

.article-list{
  border-top: 1px solid #EEE;
}

.article-list-item{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.article-list-item.selected{
  background-color: #EEE;
}
/*.article-list-item:hover{
  background-color: #CCC;
}*/

.article-preview-area{
  overflow: hidden;
}
