body,ul{
  margin: 0;
  padding: 0
}

.article-list-area{
  height: 100%;
  width: 200px;
  border-right: 1px solid #EEE;
  float: left;
}

.article-list{
  border-top: 1px solid #EEE;
}

.article-list-item{
  word-break: break-all;
}

.article-list-item.selected{
  background-color: #EEE!important;
}

.article-preview-area{
  overflow: hidden;
}
