@import "../css/bootstrap";
@import "../css/highlight";
@import "../css/github-markdown";

@mixin flex-container {
  display: -webkit-flex;
  display: flex;
}

@mixin flex-align-center {
  -webkit-align-items: center;
  align-items: center;
}

@mixin flex-wrap{
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4{
  margin: 0;
  padding: 0;
}

.l-container{
  height: 100%;
}

.l-header{
  border-bottom: 1px solid #eeeeee;
  padding: 20px 6px 10px 6px;
  div{
    text-align: right;
  }
}

.l-article-list{
  overflow: scroll;
  border-right: 1px solid #EEE;
}

.l-horizontal-menu{
  @include flex-container;
  @include flex-align-center;
  border-bottom: 1px solid #eeeeee;
}

.l-vertical-menu{
  float: left;
  text-align: center;
  border-right: 1px solid #eeeeee;
  height: 100%;
}

.l-tag-form{
  @include flex-container;
  @include flex-align-center;
  @include flex-wrap;
  min-height: 50px;
  padding-left: 8px;
  border-bottom: 1px solid #EEEEEE;
}

.progress{
  text-align: center;
  padding-top: 20px;
}

.no-gutter{
  margin: 0;
  padding: 0;
}

.fullHeight{
  height: 100%;
}

.fullWidth{
  width: 100%;
}

.label{
  display: inline-block;
  padding: 2px 6px 3px;
  border-radius: 2px;
}

.label-info{
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.870588);
}

@media screen and (max-width: 767px) {
  .l-vertical-menu{
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .l-horizontal-menu{
    display: none;
  }
}

.article-list-item{
  word-wrap: break-word;
}

.is-selected{
  background-color: #eeeeee!important;
}
