@import "../css/bootstrap";
@import "../css/highlight";
@import "../css/github-markdown";

html, body{
  height: 100%;
}

body{
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h4{
  margin: 0;
  padding: 0;
}

.no-gutter{
  margin: 0;
  padding: 0;
}

.fullHeight{
  height: 100%;
}

.fullWidth{
  width: 100%;
}

.flex-container{
  display: -webkit-flex;
  display: flex;
}

.flex-align-center{
  -webkit-align-items: center;
  align-items: center;
}

.flex-wrap{
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.label{
  display: inline-block;
  padding: 2px 6px 3px;
  border-radius: 2px;
}

.label-info{
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.870588);
}

.vertical-menu{
  float: left;
  text-align: center;
  border-right: 1px solid #eeeeee;
}

.horizontal-menu{
  border-bottom: 1px solid #eeeeee;
}

@media screen and (max-width: 767px) {
  .vertical-menu{
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .horizontal-menu{
    display: none;
  }
}

.article-list-box{
  border-right: 1px solid #EEE;
}

.article-list-item{
  word-wrap: break-word;
}

.selected{
  background-color: #eeeeee!important;
}
